{% extends "base.html" %}

{% block content %}
    <main class="d-flex justify-content-center align-items-center" style="height: 785px;">
        <div class="d-flex flex-column justify-content-between align-items-center" style="width: 40%;height: 65%;">
            <p style="text-align: center;font-size: 40px;">Подбросить монетку</p>
            <p class="text-center" style="text-align: center;font-size: 213px;font-weight: bold;color: var(--bs-success);border-color: #000081;">ОРЁЛ</p><button class="btn btn-primary" id="flip_coin_btn" type="button" style="width: 270px;font-weight: bold;font-size: 25px;">Подкинуть</button>
        </div>
    </main>
{% endblock %}