{% extends "base.html" %}

{% block content %}
    <main class="d-flex justify-content-center align-items-center" style="height: 785px;">
        <div class="d-flex flex-column justify-content-between align-items-center" style="width: 40%;height: 65%;">
            <p style="text-align: center;font-size: 40px;">Случайное число</p>
            <p style="text-align: center;font-size: 100px;font-weight: bold;">46</p><button class="btn btn-primary" id="generate_number_btn" type="button" style="width: 270px;font-weight: bold;font-size: 25px;">Сгенерировать</button>
            <div class="d-flex justify-content-between" style="width: 286px;height: 35px;"><input type="number" id="input_from" style="width: 61px;text-align: center;" placeholder="от">
                <p style="text-align: center;font-size: 28px;margin-top: -9px;">диапазон</p><input type="number" id="input_to" style="width: 61px;outline: none;text-align: center;" value="\" placeholder="до">
            </div>
        </div>
    </main>
{% endblock %}