{% extends "base.html" %}

{% block content %}
    <main class="d-flex justify-content-center align-items-center" style="height: 759px;border-style: hidden;">
        <div class="d-flex flex-column justify-content-between align-items-center align-items-xxl-center" style="width: 40%;height: 75%;border-color: var(--bs-purple);">
            <p style="text-align: center;font-size: 40px;">Генератор пароля</p>
            <div class="d-flex d-xxl-flex flex-column justify-content-between" style="width: 374.078px;height: 25%;">
                <div class="d-flex justify-content-between align-items-xxl-center" style="width: 100%;">
                    <input type="number" id="length_input" style="width: 62px;height: 100%;" value="8">
                    <label class="form-label" style="font-weight: bold;margin-top: 2%;">Длина пароля</label></div>
                <div class="d-flex justify-content-between align-items-xxl-center" style="width: 100%;">
                    <!-- Start: Toggle Switch -->
                    <label id="numbers_switch" class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                    <!-- End: Toggle Switch -->
                    <label class="form-label" style="font-weight: bold;margin-top: 2%;">Цифры (0 - 9)<br></label>
                </div>
                <div class="d-flex justify-content-between align-items-xxl-center" style="width: 100%;">
                    <!-- Start: Toggle Switch -->
                    <label id="spec_symbols_switch" class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                    <!-- End: Toggle Switch -->
                    <label class="form-label" style="font-weight: bold;margin-top: 2%;">Спец. символы (%, *, ),?, @, #, $, ~)<br></label>
                </div>
            </div>
            <div class="d-xxl-flex justify-content-between align-items-xxl-center" style="height: 70px;width: 80%;">
                <input type="text" id="psw_input" style="width: 85%;height: 100%;border-radius: 4px;border-style: solid;font-weight: bold;" placeholder='Пароль'>
                <i class="fa fa-copy" id="copy" style="font-size: 37px;text-align: center;"></i>
            </div>
            <div>
                <p style="text-align: center;font-weight: bold;">Надёжность пароля</p>
                <div style="width: 302px;height: 20px;border-radius: 276px;border: 1px solid var(--bs-blue) ;">
                    <div id="psw_safety_div" style="height: 100%;width: 53%;background: var(--bs-blue);border-radius: 281px;"></div>
                </div>
            </div><button class="btn btn-primary" id="generate_psw_btn" type="button" style="width: 346px;font-weight: bold;font-size: 25px;height: 15%;">Cгенерировать пароль</button>
        </div>
    </main>
{% endblock %}